:root {
    --cursor: default;
    --point-fill: #ffffff;
    --point-stroke: #0000ff;
    --handler-fill: #00ff00;
    --handler-stroke: #00ff00;
    --handler-line: #0000ff;
    --segment-fill: transparent;
    --segment-stroke: #0000ff;
}

body {
    background-color: #eee;
}

.draw-container {
    user-select: none;
    pointer-events: none;
}

.controls-container {
    user-select: none;
}

.controls-container path {
    transition: 0.2s ease opacity;
}

.controls-container .segment-wrapper > .center {
    opacity: 0.6;
    fill: var(--point-fill);
    stroke: var(--point-stroke);
}

.controls-container .segment-wrapper > .center:hover {
    opacity: 1;
    cursor: pointer;
}

.controls-container .segment-wrapper:hover > .center {
    visibility: visible;
}

.controls-container *[data-control-type="point"] {
    cursor: grab;
    fill: var(--point-fill);
    stroke: var(--point-stroke);
}

.controls-container .control-wrapper>circle[data-control-type="control"]{
    cursor: grab;
        fill: var(--handler-fill);
        stroke: var(--handler-stroke);
}

.controls-container .control-wrapper>path{
    stroke: var(--handler-line);
    fill: transparent;
}

.controls-container *[data-control-type="segment"] {
    cursor: grab;
    opacity: 0;
    transition: 0.2s ease opacity;
    fill: var(--segment-fill);
    stroke: var(--segment-stroke);
}

.controls-container *[data-control-type="point"].selected{
    fill: rgb(0, 174, 255);
}

.controls-container *[data-control-type="segment"].selected {
    stroke: rgb(0, 174, 255);
}




.controls-container *[data-control-type="segment"]:hover {
    opacity: 0.4;
}

.toolbar{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px 8px;
}

.flex-col{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.editor {
    background-color: #fff;
    width: 800px;
    height: 800px;
    cursor: var(--cursor);
}